
/* Top part of website */
body{
    margin:0;
    font-family: "Roboto", sans-serif;
}

.header{
    
    font-weight: bolder;
    font-size: 24px;
    margin-bottom: 64px;
    background-color: #1f2937;
    color:white;
    display:flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.header.links{
    display:flex;
    justify-content: flex-end;
    padding:16px;
    flex-flow: row;
}
a{
    text-decoration: none;
    color: #E5E7EB;
    
}
li{
    list-style: none;
    font-weight: lighter;
    font-size: 18px;
    
}
ul{
    display:flex;
    font-weight: lighter;
    gap: 16px;
}
.bluepart{
    background-color: #1f2937;
    padding-bottom: 64px;
}
.title{
    color: #f9faf8;
    display:flex;
    flex-direction: column;
    max-width: 320px;
    font-weight: 900;
    font-size: 48px;
    margin-left: 22px;

}
.top{
    color: #E5E7EB;
    
    display:flex;
    justify-content: space-around;
}

.subtext{
    font-size: 18px;
    font-weight:100;
    min-width: 450px;
    color: gainsboro;
    margin-bottom: 12px;
    
}
.image{
    font-size: 12px;
    display:flex;
    align-items: center;
    background-color: rgb(141, 138, 138);
    padding: 64px;
    
}
button{
    border: none;
    border-radius: 6px;
    background-color: #3882f6;
    color:#E5E7EB;
    width: 100px;
    padding: 8px;
    font-weight: bold;
}


/* Middle part of website */
.middleinfo{
    display: flex;
    font-size: 36px;
    justify-content: center;
    align-items: center;
    color:#1f2937;
    font-weight: 1000;
    padding: 64px;
}
.boxes{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    border-color: #3882f6;
    padding:64px;
    border-radius: 12px;
    border-style: solid;
    margin-right: 32px;
    margin-bottom: 8px;
    
}
.images{
    max-width: 200px;
}
.text{
    display: flex;
    max-width: 134px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.middle{
    margin-bottom: 64px;
}
/*Bottom part of website*/
.upperbottom{
    background-color: #E5E7EB;
    padding: 128px;
    display:flex;
    align-items: center;
    justify-content: center;
    
    flex-direction: column;
    
    
}
.quote{
    display:flex;
    flex-direction: column;
    font-style: italic;
    font-size: 36px;
    font-weight: 300;
    max-width: 865px;
}
.upperbottom .middleinfo{
    display:flex;
    font-style: normal;
    font-size: 18px;
    padding: 0;
    align-self: flex-end;
    max-width: 865px;
}
.bottom{
    display: flex;
    padding:64px;
    background-color: #f9faf8;
    justify-content: center;
    align-items: center;
}
.actioncall{
    padding: 32px;
    display: flex;
    background-color: #3882f6;
    
}
.actiontext{
    
    align-self: flex-end;
    display: flex;
    flex-direction: column;
}