body{
    color: #1f2937;
}

.header{
    font-family: "Roboto";
    background-color: #1f2937;
    color:white;
    display:flex;
    align-items: center;
    justify-content: space-around;
    
}
.header.links{
    display:flex;
    justify-content: flex-end;
    padding:16px;
    flex-flow: row;
}
a{
    text-decoration: none;
    color: #E5E7EB;
}
li{
    list-style: none;
    
}
ul{
    display:flex;
    gap: 16px;
}